@model Movie_Theater.ViewModels.MovieScheduleViewModel
@using System.Linq;

@{
    ViewBag.Title = "A Movie: Movies | Movie Trailers | Reviews";
}
<div class="wrapper-container no-top">
    <div class="wrapper-box-slideshow">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            @if (ViewBag.slider.Count != 0)
            {
                <ol class="carousel-indicators">
                    @{
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        for (int i = 1; i < ViewBag.slider.Count; i++)
                        {
                            <li data-target="#myCarousel" data-slide-to="@i"></li>
                        }
                    }
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @{
                        <a href="#" class="item active">
                            <img src="@ViewBag.slider[0].Img" alt="Ảnh Slide 1">
                            <div class="carousel-caption">
                                <h6>@ViewBag.slider[0].Title</h6>
                                <p>@ViewBag.slider[0].Description</p>
                            </div>
                        </a>
                        if (ViewBag.slider.Count > 1)
                        {
                            for (int i = 1; i < ViewBag.slider.Count; i++)
                            {
                                <a href="#" class="item">
                                    <img src="@ViewBag.slider[i].Img" alt="Ảnh Slide <@i>">
                                    <div class="carousel-caption">
                                        <h6>@ViewBag.slider[i].Title</h6>
                                        <p>@ViewBag.slider[i].Description</p>
                                    </div>
                                </a>
                            }
                        }
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            }
        </div>
    </div>

    <div class="container-body">
        <div class="wrapper-box-movie">
            <div class="wrapper-box-movie__item">
                @* Phim đang chiếu *@
                <div class="heading-title">
                    <h6>PHIM ĐANG CHIẾU</h6>
                    <a href="@Url.Action("Index", "ListMovie", new {FilterMoviesByType = "MoviesInTheater"})">Xem thêm</a>
                </div>
                <div class="row sm-gutter box-movie" style="flex-wrap: nowrap;margin-left: 0; margin-right: 0">
                    @{
                        List<int> lstMovieId = (from ms in Model.MovieSchedules where ms.EndTime > DateTime.Now select ms.MovieId).ToList();
                        foreach (var movie in Model.Movies)
                        {
                            if (movie.ReleaseDate <= DateTime.Now && lstMovieId.Contains(movie.Id))
                            {
                                <div class="box-movie__item col m-b-2_4 l-2_4">
                                    <div class="img">
                                        <img src="@movie.PosterPath" alt="Alternate Text" />

                                        <div>
                                            <a href="@Url.Action("Details", "Movies", new { id = movie.Id })">Xem chi tiết</a>
                                            <a href="@Url.Action("Create","Booking", new { id = movie.Id})">Đặt vé</a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <div class="scores">
                                            <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                            @{
                                                var movieScores = movie.Score;
                                                if (movieScores < 1)
                                                {
                                                    <span>100%</span>
                                                }
                                                else
                                                {
                                                    <span>@movieScores%</span>
                                                }
                                            }
                                        </div>
                                        <span>@movie.Title</span>
                                    </div>
                                </div>
                            }
                        }
                    }

                    <div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />

                            <div>
                                <a href="#">Xem chi tiết</a>
                                <a href="#">Đặt vé</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div>

                    <div class="box-movie__btn btn-prev">
                        <i class="fa-solid fa-circle-chevron-left"></i>
                    </div>

                    <div class="box-movie__btn btn-next">
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>
                </div>
            </div>

            <div class="wrapper-box-movie__item">
                @* Phim sắp chiếu *@
                <div class="heading-title">
                    <h6>PHIM SẮP CHIẾU</h6>
                    <a href="@Url.Action("Index", "ListMovie", new {FilterMoviesByType = "UpcomingMovies"})">Xem thêm</a>
                </div>
                <div class="row sm-gutter box-movie" style="flex-wrap: nowrap;margin-left: 0; margin-right: 0">
                    @{
                        foreach (var movie in Model.Movies)
                        {
                            if (movie.ReleaseDate > DateTime.Now)
                            {
                                <div class="box-movie__item col m-b-2_4 l-2_4">
                                    <div class="img">
                                        <img src="@movie.PosterPath" alt="Alternate Text" />
                                        <div>
                                            <a href="@Url.Action("Details","Movies", new { id = movie.Id})">Xem chi tiết</a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <div class="scores">
                                            <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                            <span>...%</span>
                                        </div>
                                        <span>@movie.Title</span>
                                    </div>
                                </div>
                            }
                        }
                    }
                    <div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div><div class="box-movie__item col m-b-2_4 l-2_4">
                        <div class="img">
                            <img src="https://resizing.flixster.com/tpLtbDZQSwBpb3jfwoI7zMiRMjE=/206x305/v2/https://resizing.flixster.com/ayiSi8HrUS3_i-Jkru1P2oMM58Q=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzhiODAwYWIyLTM1MmItNGI1ZS1iOWQzLTdjZjAzMzI1MDc2Yy5qcGc=" alt="Alternate Text" />
                            <div>
                                <a href="#">Xem chi tiết</a>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="scores">
                                <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Alternate Text" />
                                <span>93%</span>
                            </div>
                            <span>John Wick: Chapter 4</span>
                        </div>
                    </div>

                    <div class="box-movie__btn btn-prev">
                        <i class="fa-solid fa-circle-chevron-left"></i>
                    </div>

                    <div class="box-movie__btn btn-next">
                        <i class="fa-solid fa-circle-chevron-right"></i>
                    </div>
                </div>
            </div>

            @* Phim phổ biến tại các rạp *@
            <!--<div class="heading-title">
                <h6>PHIM PHỔ BIẾN TẠI CÁC RẠP</h6>
                <a href="">Xem thêm</a>
            </div>-->
            @* Phim có điểm số cao *@
            <!--<div class="heading-title">
                <h6>PHIM CÓ ĐIỂM SỐ CAO</h6>
                <a href="">Xem thêm</a>
            </div>-->
            @* Phim Việt Nam *@
            <!--<div class="heading-title">
                <h6>PHIM VIỆT NAM</h6>
                <a href="">Xem thêm</a>
            </div>-->
            @* Phim Mavel *@
            <!--<div class="heading-title">
                <h6>PHIM MAVEL</h6>
                <a href="">Xem thêm</a>
            </div>-->
            @* Phim DC *@
            <!--<div class="heading-title">
                <h6>PHIM DC</h6>
                <a href="">Xem thêm</a>
            </div>-->
        </div>

        <!--<div class="wrapper-box-news">-->
        @* Tin tức *@
        <!--<div class="heading-title">
                <h6>TIN TỨC</h6>
                <a href="@Url.Action("Index", "ListMovie", new {FilterMoviesByType = "UpcomingMovies"})">Xem thêm</a>
            </div>
            <div class="row sm-gutter box-news">
                <a class="box-news__item col m-b-4 l-4">
                    <div class="img">
                        <img src="https://images.fandango.com/cms/assets/0b8d6850-c2b1-11ed-81d8-51a487a38835--rt-tedlasso-v2-470x250.jpg" alt="Alternate Text" />
                    </div>
                    <div class="caption">
                        <h6>Ted Lasso</h6>
                        <span>The stars on Season 3, Nate & Ted’s Explosive Feud, and Roy’s Swearing</span>
                    </div>
                </a><a class="box-news__item col m-b-4 l-4">
                    <div class="img">
                        <img src="https://images.fandango.com/cms/assets/0b8d6850-c2b1-11ed-81d8-51a487a38835--rt-tedlasso-v2-470x250.jpg" alt="Alternate Text" />
                    </div>
                    <div class="caption">
                        <h6>Ted Lasso</h6>
                        <span>The stars on Season 3, Nate & Ted’s Explosive Feud, and Roy’s Swearing</span>
                    </div>
                </a><a class="box-news__item col m-b-4 l-4">
                    <div class="img">
                        <img src="https://images.fandango.com/cms/assets/0b8d6850-c2b1-11ed-81d8-51a487a38835--rt-tedlasso-v2-470x250.jpg" alt="Alternate Text" />
                    </div>
                    <div class="caption">
                        <h6>Ted Lasso</h6>
                        <span>The stars on Season 3, Nate & Ted’s Explosive Feud, and Roy’s Swearing</span>
                    </div>
                </a><a class="box-news__item col m-b-4 l-4">
                    <div class="img">
                        <img src="https://images.fandango.com/cms/assets/0b8d6850-c2b1-11ed-81d8-51a487a38835--rt-tedlasso-v2-470x250.jpg" alt="Alternate Text" />
                    </div>
                    <div class="caption">
                        <h6>Ted Lasso</h6>
                        <span>The stars on Season 3, Nate & Ted’s Explosive Feud, and Roy’s Swearing</span>
                    </div>
                </a><a class="box-news__item col m-b-4 l-4">
                    <div class="img">
                        <img src="https://images.fandango.com/cms/assets/0b8d6850-c2b1-11ed-81d8-51a487a38835--rt-tedlasso-v2-470x250.jpg" alt="Alternate Text" />
                    </div>
                    <div class="caption">
                        <h6>Ted Lasso</h6>
                        <span>The stars on Season 3, Nate & Ted’s Explosive Feud, and Roy’s Swearing</span>
                    </div>
                </a><a class="box-news__item col m-b-4 l-4">
                    <div class="img">
                        <img src="https://images.fandango.com/cms/assets/0b8d6850-c2b1-11ed-81d8-51a487a38835--rt-tedlasso-v2-470x250.jpg" alt="Alternate Text" />
                    </div>
                    <div class="caption">
                        <h6>Ted Lasso</h6>
                        <span>The stars on Season 3, Nate & Ted’s Explosive Feud, and Roy’s Swearing</span>
                    </div>
                </a>
            </div>
        </div>-->
    </div>
</div>