@model PagedList.IPagedList<Movie_Theater.Models.News>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-container box-news-list">
    <div class="row">
        <h5 class="col-md-12 heading"><i class="fa-solid fa-newspaper"></i> TIN TỨC</h5>
    </div>
    @{
        if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <hr />
                <a href="@Url.Action("Details", "News", new { name = item.Url})" class="row">
                    <div class="col-md-3">
                        <img src="@item.Img" alt="@item.Title" title="@item.Title" />
                    </div>
                    <div class="col-md-9">
                        <h5>@item.Title</h5>
                        <span>@item.Description</span>
                    </div>
                </a>
            }
        }
    }
    <div>
        <div class="PageNumber" style="display: flex; justify-content: center; ">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
</div>

<script>
    //Page list
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);

                $(this).append('<a href="javascript:void(0);" class="read-more">xem tiếp...</a>');

                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>

<style>
    .box-news-list h5, .box-news-list span {
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .box-news-list row:not(:first-child) h5 {
        -webkit-line-clamp: 2;
        min-height: 25px;
        max-height: 48px;
    }

    .box-news-list h5 {
        color: #f7c12f;
    }

    .box-news-list span {
        color: #ffffff;
        -webkit-line-clamp: 3;
    }

    .box-news-list img {
        width: 100%;
        height: 122px;
        object-fit: cover;
        border-radius: 4px;
    }
</style>