@model IEnumerable<Movie_Theater.Models.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-container">
    <h5 class="heading"><i class="fa-solid fa-images"></i> DANH SÁCH SLIDE</h5>

    <p class="btn-create">
        <a href="@Url.Action("Create")"><i class="fa-solid fa-circle-plus"></i> Thêm Slide</a>
    </p>
    <table class="table">
        <tr class="row">
            <th class="col l-3">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="col l-4">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col l-4">
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th class="col l-1"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="row">
                <td class="col l-3">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="col l-4" style="text-align: justify">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col l-4">
                    <img style="width: 300px;" src="@Html.DisplayFor(modelItem => item.Img)" alt="Alternate Text" />
                </td>
                <td class="col l-1 flex-column">
                    <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa-solid fa-pen-to-square"></i> Sửa</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })"><i class="fa-solid fa-trash-can"></i> Xóa</a>
                </td>
            </tr>
        }
    </table>
</div>
