@model Movie_Theater.Models.Showtimes

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>

    <!-- Default box -->
    <div class="main-content">
        <h4 class="page-title">Chỉnh sửa lịch chiếu</h4>
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/Showtimes">Lịch chiếu</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 stretch-card">
            <div class="row flex-grow">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("Edit", "Showtimes", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @if (ViewBag.Error != "")
                                        {
                                            <strong class="" style="color: red;"><i class="fa-solid fa-triangle-exclamation"></i> @ViewBag.Error</strong>
                                        }
                                    </div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MovieIds, "Phim", htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset padding-left-right-unset">
                                            @Html.DropDownListFor(model => model.MovieId, new SelectList(Model.Movies, "Id", "Title"), new { @class = "form-control", style = "padding: 1px .75rem;" })
                                            @Html.ValidationMessageFor(model => model.MovieIds, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TheatreIds, "Rạp", htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset padding-left-right-unset">
                                            @Html.DropDownListFor(model => model.TheatreId, new SelectList(Model.Theatres, "Id", "Name"), new { @class = "form-control", style = "padding: 1px .75rem;" })
                                            @Html.ValidationMessageFor(model => model.TheatreIds, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-12 padding-left-right-unset padding-left-right-unset">
                                            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group text-align-end">
                                        <div class="col-md-offset-2 col-md-12 padding-left-right-unset padding-left-right-unset">
                                            <input type="submit" value="Lưu Thay Đổi" class="btn btn-primary mr-2 mb-2 mb-md-0 text-white" />
                                            <a href="/Admin/Showings" class="btn btn-secondary mb-1 mb-md-0">Quay Lại</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.card-body -->
</section>
