@model IEnumerable<Movie_Theater.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    
    <!-- Default box -->
    <div class="main-content">
        <h4 class="page-title">Danh sách phim</h4>
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Phim</a></li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
            </ol>
        </nav>
    </div>
    <div class="aside-compose text-align-end">
        <a href="/Admin/Movies/Create" class="btn btn-success">Thêm Phim</a>
    </div>
    <hr />
    <div class="row margin-left-right-unset">
        <div class="col-12 col-xl-12 stretch-card">
            <div class="row flex-grow">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-2">Tên phim</th>
                            <th class="col-md-1">Poster</th>
                            <th class="col-md-1">Ngày công chiếu</th>
                            <th class="col-md-1">Nhãn</th>
                            <th class="col-md-1">Thời lượng</th>
                            <th class="col-md-4">Tóm tắt nội dung</th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = 1;
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-md-2">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td class="col-md-1 poster_path">
                                        <img src="@item.PosterPath" alt="@item.PosterPath" />
                                    </td>
                                    <td class="col-md-1">
                                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                                    </td>
                                    <td class="col-md-1">
                                        @Html.DisplayFor(modelItem => item.Rating)
                                    </td>
                                    <td class="col-md-1">
                                        @Html.DisplayFor(modelItem => item.Runtime)
                                    </td>
                                    <td class="col-md-4">
                                        <div class="biography biography-crews">
                                            @Html.DisplayFor(modelItem => item.Synopsis)
                                        </div>
                                    </td>
                                    <td class="col-md-2">
                                        <div>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, new { @class = "btn btn-warning mr-2" })
                                            <button type="submit" class="btn btn-danger delete-btn" data-id="@item.Id" style="margin: 5px 0;">Xóa</button>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</section>
<!-- /.content -->

<script>
    $(function () {
        $('.delete-btn').click(function (e) {
            e.preventDefault();

            if (confirm("Bạn có chắc chắn muốn xóa phim này?")) {
                var id = $(this).data('id');
                $.ajax({
                    url: '/Admin/Movies/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            window.location.reload();
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('An error occurred while deleting the record.');
                    }
                });
            }
        });
    });
</script>