@using Movie_Theater.Models
@using System.Linq
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" href="~/Areas/Admin/Content/assets/images/play.png" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/grid.css")
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")

    <script>
        $(document).ready(function () {
            //Slide banner
            var widthBoxBanner = $('.box-banner').width();
            $('.box-banner__item > div').css('width', widthBoxBanner);

            //Lấy số lượng slide
            var maxCounter = $('.box-banner').find('.box-banner__item').length;
            //Lần đầu load sẽ vào ngay slide 1
            $('#radio1').prop('checked', true);
            var counter = 2;
            //Khi ta click vào slide bất kì slide thì slide chuyển tiếp theo sẽ là slide kế sau slide ta vào click.
            $('.manual-btn').click(function () {
                var checked = $(this).attr('for').slice(-1);
                counter = parseInt(checked);
            })
            //Chuyển slide cách nhau 0.6s
            setInterval(function () {
                if (counter != -maxCounter) {
                    document.getElementById('radio' + Math.abs(counter)).checked = true;
                }
                else {
                    counter++;
                    document.getElementById('radio' + Math.abs(counter)).checked = true;
                }
                counter++;
                if (counter > maxCounter) {
                    counter = -maxCounter;
                }
                if (counter == 0) {
                    counter = 2;
                }
            }, 6000);

            //Slide movie
            var slideWidth = $('.wrapper-box-movie__item .box-movie').width();// Lấy chiều dài của .box-movie để sử dụng cho việc chuyển slide
            //btn-next
            $('.wrapper-box-movie__item').on('click', '.btn-next', function () {//Bắt sự kiện click của .btn-next
                $(this).prop('disabled', true);// Vô hiệu hóa btn sau khi click (tránh trường hợp click 2 nhanh liên tiếp)

                $(this).closest('.box-movie').find('.btn-prev').show();//Tìm và css cho .btn-prev hiện lên
                $(this).closest('.box-movie').find('.btn-prev').prop('disabled', false);//Kích hoạt btn-prev (Trong trường hợp đã click btn-prev sau đó nó ẩn đi)

                $(this).closest('.box-movie').find('.box-movie__item:first').animate({
                    marginLeft: "-=" + slideWidth
                }, 500, function () {//Chạy slide với thời gian 0.5s
                    var marginLeft = parseInt($(this).closest('.box-movie').find('.box-movie__item:first').css('margin-left'));// Lấy giá trị margin-left để ẩn .btn-next
                    if (marginLeft = -(slideWidth * 2)) {

                        $(this).closest('.box-movie').find('.btn-next').hide();
                    }
                    else {
                        // Kích hoạt lại nút sau khi hoàn thành hiệu ứng trượt
                        $(this).closest('.box-movie').find('.btn-next').prop('disabled', false);
                    }
                });
            });
            //btn-prev
            $('.wrapper-box-movie__item').on('click', '.btn-prev', function () {
                $(this).prop('disabled', true);

                $(this).closest('.box-movie').find('.btn-next').show();
                $(this).closest('.box-movie').find('.btn-next').prop('disabled', false);


                $(this).closest('.box-movie').find('.box-movie__item:first').animate({
                    marginLeft: "+=" + slideWidth
                }, 500, function () {
                    var marginLeft = parseInt($(this).closest('.box-movie').find('.box-movie__item:first').css('margin-left'));
                    if (marginLeft == 0) {

                        $(this).closest('.box-movie').find('.btn-prev').hide();
                    }
                    else {
                        $(this).closest('.box-movie').find('.btn-prev').prop('disabled', false);
                    }
                });
            });

            //Hiện lựa chọn lọc
            $('.filter-nav__item > button').click(function () {
                $(this).siblings('ul').slideToggle();
            });
            //Ẩn lựa chọn lọc khi nhấn chuột ngoài đối tượng
            $(document).mouseup(function (e) {
                var container = $(".filter-nav__item ul");
                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    container.hide();
                }
            });
            //Ẩn lực chọn lọc bằng nút x
            $('.filter-nav__item ul i').click(function () {
                $('.filter-nav__item ul').hide();
            });

            //Xem thêm diễn viên & đoàn làm phim
            $('.box-movie-info__item .box-movie-info__item__more .more-info').click(function () {//Bắt sự kiện click
                $('ul.box-movie-info__item__content').css('height', 'unset');
                $('.box-movie-info__item .box-movie-info__item__more .more-info').css('display', 'none');
                $('.box-movie-info__item .box-movie-info__item__more .hide-info').css('display', 'block');
            });

            $('.box-movie-info__item  .box-movie-info__item__more .hide-info').click(function () {
                $('ul.box-movie-info__item__content').css('height', '251px');
                $('.box-movie-info__item  .box-movie-info__item__more .hide-info').css('display', 'none');
                $('.box-movie-info__item  .box-movie-info__item__more .more-info').css('display', 'block');
            });

            //Ẩn nút xem thêm nội dung đối với câc bình luận ngắn
            $(".box-community-review__body .content > p").each(function () {
                if ($(this).height() < 90) {
                    $(this).siblings('.box-movie-info__item__more').hide();
                }
            });

            //Xem thêm nội dung bình luận
            $('.box-community-review__body').on('click', '.more-info', function () {
                $(this).closest('.content').find('p').css('-webkit-box-orient', 'unset');
                $(this).hide();
                $(this).siblings('.hide-info').show();
            });
            $('.box-community-review__body').on('click', '.hide-info', function () {
                $(this).closest('.content').find('p').css('-webkit-box-orient', 'vertical');
                $(this).hide();
                $(this).siblings('.more-info').show();
            });

            //Xem thêm tiểu sử
            $('.box-biography').on('click', '.more-info', function () {
                $(this).closest('.biography').find('p').css('-webkit-box-orient', 'unset');
                $(this).hide();
                $(this).siblings('.hide-info').show();
            });
            $('.box-biography').on('click', '.hide-info', function () {
                $(this).closest('.biography').find('p').css('-webkit-box-orient', 'vertical');
                $(this).hide();
                $(this).siblings('.more-info').show();
            });

            //Vô hiệu hóa search-button khi search-field chưa có dữ liệu và ngược lại sẽ khởi động search-button
            const searchField = document.getElementById('search-field');
            const searchButton = document.getElementById('search-button');

            searchField.addEventListener('input', function () {
                searchButton.disabled = searchField.value === '';
            });

            //Ẩn lọc phim
            if ($('.box-discovery__body > strong > span').text() != 'Rất tiếc! Không có phim nào cả!') {
                $('.box-discovery__filters-nav').css('display', 'flex');
            }
            //Ẩn hiện navbar
            var prevScrollPos = window.pageYOffset;
            window.onscroll = function () {
                var currentScrollPos = window.pageYOffset;
                if (prevScrollPos > currentScrollPos) {
                    document.getElementById("navbar").classList.remove("navbar-hidden");
                } else {
                    document.getElementById("navbar").classList.add("navbar-hidden");
                }
                prevScrollPos = currentScrollPos;
            };

            //Chuyển bg
            // Sử dụng một biến để theo dõi trạng thái hiện tại của nút
            var isClicked = false;

            // Kiểm tra nếu đã có trạng thái được lưu trong Local Storage
            var savedState = localStorage.getItem('cssState');
            if (savedState) {
                isClicked = JSON.parse(savedState);
                applyCSS(isClicked);
            }

            $(".change-bg-btn > i").click(function () {
                isClicked = !isClicked;
                applyCSS(isClicked);
                saveState(isClicked);
            });

            function applyCSS(isClicked) {
                if (isClicked) {
                    // Áp dụng CSS khi trạng thái đã được lưu
                    $('.navbar, body, .wrapper-container ').css('background-color', '#212529');
                    $(':root').css('--search-bg-color', '#989898');
                    $('.change-bg-btn > i, body').css('color', '#fff');
                    $('a, .box-movie-info__item__more').not('.container a, .table a, .btn-create a, .box-movie__item .img a, .box-discovery__body__item a, .pagination a').css('color', '#f7c12f');
                    $('.box-movie__item, .box-discovery__body__item').hover(
                        function () {
                            $(this).find('.caption').css('color', '#f7c12f');
                        },
                        function () {
                            $(this).find('.caption').css('color', '');
                        }
                    );
                } else {
                    // Xóa CSS khi click lần thứ hai
                    $('.change-bg-btn > i, .navbar, body, .wrapper-container, :root, a, .box-movie-info__item__more').removeAttr('style');
                    $('.box-movie__item, .box-discovery__body__item').off('mouseenter mouseleave');
                }
            }

            function saveState(isClicked) {
                // Lưu trạng thái vào Local Storage
                localStorage.setItem('cssState', JSON.stringify(isClicked));
            }
        });

        //Trang load
        window.addEventListener('load', function () {
            setTimeout(function () {
                document.getElementById('loader').style.display = 'none'; // Ẩn phần tử loader
                document.getElementById('content').style.display = 'block'; // Hiển thị nội dung trang web
            }, 600); // Thời gian delay là 2 giây (2000 milliseconds)
        });

    </script>
</head>
<body>
    <div id="loader" class="loader-wrapper">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" id="navbar">
        <div class="grid wide container">
            <a href="@Url.Action("Index","Home")"><img style="width: 100px" src="http://amovie.gozha.net/images/logo.png" alt="Alternate Text" /></a>
            <div>
                <ul id="header-navbar" class="flex-grow-1">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                    <li>
                        @Html.ActionLink("Phim", "Index", "ListMovie")
                        <ul class="sub-navbar">
                            <li>@Html.ActionLink("Phim đang chiếu", "Index", "ListMovie", new { FilterMoviesByType = "MoviesInTheater" }, null)</li>
                            <li>@Html.ActionLink("Phim sắp chiếu", "Index", "ListMovie", new { FilterMoviesByType = "UpcomingMovies" }, null)</li>
                        </ul>
                    </li>
                    <li>
                        <span>Thể Loại</span>

                        <ul class="sub-navbar">
                            @{
                                ApplicationDbContext _dbContext = new ApplicationDbContext();
                                var genres = _dbContext.Genres.ToList();

                                foreach (var item in genres)
                                {
                                    <li> @Html.ActionLink(item.Name, "index", "listmovie", new { filtermoviebygenre = item.Id }, null) </li>
                                }
                            }
                        </ul>
                    </li>
                    @*<li>
                        <span>Quản Lý</span>

                        <ul class="sub-navbar">
                            <li>@Html.ActionLink("Phim", "Index", "Movies", new { FilterMoviesByType = "MoviesInTheater" }, null)</li>
                            <li>@Html.ActionLink("Thể Loại", "Index", "Genres", new { FilterMoviesByType = "MoviesInTheater" }, null)</li>
                            <li>@Html.ActionLink("Lịch Chiếu", "Index", "MovieSchedules", new { FilterMoviesByType = "UpcomingMovies" }, null)</li>
                            <li>@Html.ActionLink("Nhân Sự Phim", "Index", "Crews", new { FilterMoviesByType = "UpcomingMovies" }, null)</li>
                            <li>@Html.ActionLink("Slide Show", "Index", "SlideShow", new { FilterMoviesByType = "UpcomingMovies" }, null)</li>
                            <li>@Html.ActionLink("Đặt vé", "Index", "Home", new { FilterMoviesByType = "UpcomingMovies" }, null)</li>
                            <li>@Html.ActionLink("Phòng", "Index", "Home", new { FilterMoviesByType = "UpcomingMovies" }, null)</li>
                            <li>@Html.ActionLink("Ghế", "Index", "Home", new { FilterMoviesByType = "UpcomingMovies" }, null)</li>
                        </ul>
                    </li>*@
                    <li class="change-bg-btn">
                        <i class="fa-solid fa-sun"></i>
                    </li>
                </ul>
                <div id="login">
                    @Html.ActionLink("Đăng nhập", "Login", "Login", new { @class = "display-none login-failse" })
                    <div class="login-true">
                        <div class="box-img">
                            <img src="\Content\Images\Icons\user-icon.png" alt="Ảnh đại diện" style="height: 30px; width: 30px;" />
                        </div>
                        <div class="box-acc nav-link">
                            <span class="nav-link">
                                <span>Tài khoản</span>
                                <i class="fa-solid fa-angle-down"></i>
                            </span>

                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("Index", "ListMovie", FormMethod.Post))
            {
                <div class="navbar__search">
                    <div>
                        <input id="search-field" type="text" name="SearchString" placeholder="Nhập tên phim cần tìm kiếm..." />
                        <button type="submit" class="navbar__search__icon" id="search-button" disabled>
                            @* disabled: vô hiệu hóa btn *@
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        }
        </div>

        @using (Html.BeginForm("Index", "ListMovie", FormMethod.Post))
        {
            <div class="navbar__search">
                <div>
                    <input id="search-field" type="text" name="SearchString" placeholder="Tìm kiếm phim theo tên , mô tả ..." />
                    <button type="submit" class="navbar__search__icon" id="search-button" disabled>
                        @* disabled: vô hiệu hóa btn *@
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        }
    </nav>

    <div class="grid wide bg-white">
        @RenderBody()
    </div>
    <footer style="text-align: center">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>