@model Movie_Theater.Models.Order

@{
    ViewBag.Title = "Thêm Ghế";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-container" style=" background-color: #2f353b;">
    <h5 class="heading"><i class="fa-solid fa-cart-plus"></i> Thêm Ghế</h5>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <div>
                <h6 style="color: #f7c12f; text-align: center; padding-bottom: 5px; margin-bottom: 30px;">
                    <span style="width: 49%; display: block; margin: auto; border-bottom: 4px solid #f7c12f; padding-bottom: 5px; ">MÀN HÌNH</span>
                </h6>
            </div>
            <div class="seat-container">
                @foreach (var seat in ViewBag.AvailableSeats)
                {
                    <div class="seat-item">
                        <input type="checkbox" name="SelectedSeats" value="@seat.Value" @(seat.Selected ? "checked" : "") @(seat.Disabled ? "disabled" : "") id="@seat.Value" />
                        <label for="@seat.Value">@seat.Text</label>
                    </div>
                }
            </div>
        </div>
        <div class="form-group text-align-end" style="display: flex; justify-content: end; margin-top: 20px;">
            @Html.HiddenFor(model => model.Id)
            <div>
                <a href="javascript:history.go(-1)" class="btn btn btn-back font-weight-600" style="border: unset; margin-right: 13px; width: 111px;">Trở Lại</a>
            </div>
            <input type="submit" id="updateBtn" value="Cập Nhật" class="btn btn-primary" style="width: 111px; background-color: #f7c12f;" />
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var createBtn = document.getElementById('updateBtn');
        var selectedSeats = document.querySelectorAll('input[name="SelectedSeats"]:checked');

        function toggleCreateBtn() {
            createBtn.disabled = selectedSeats.length === 0;
        }

        toggleCreateBtn(); // Initially check if the "Create" input should be disabled

        // Listen for checkbox changes and update the "Create" input accordingly
        var checkboxes = document.querySelectorAll('input[name="SelectedSeats"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                selectedSeats = document.querySelectorAll('input[name="SelectedSeats"]:checked');
                toggleCreateBtn();
            });
        });
    });
</script>

<style>

    .seat-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #000;
    }

    .seat-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: calc(101% / 9); /* Set the width to 1/8th of the container */
    }

        .seat-item input[type="checkbox"] {
            display: none;
        }

        .seat-item label {
            display: inline-block;
            padding: 5px 10px;
            border: 1px solid #ccc;
            background-color: #fff;
            cursor: pointer;
            width: 100%;
            text-align: center;
            border-radius: 4px;
        }

        .seat-item input[type="checkbox"]:checked + label {
            background-color: #37b24d;
            color: #fff;
            border-color: #37b24d;
        }

        .seat-item input[type="checkbox"]:disabled + label {
            background-color: #f03e3e; /* Change the background color to red */
            color: #fff;
            border-color: #f03e3e;
            cursor: not-allowed;
        }

    .form-group {
        margin-top: 20px;
    }

    .btn-primary {
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        border: unset;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
</style>