@{
    ViewBag.Title = "Trạng Thái - A Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>RETURN URL FROM VNPAY</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper-container container">
            <div class="header clearfix">
                <h3 class="text-muted">Kết quả thanh toán</h3>
            </div>
            <div class="table-responsive">
                <div>@ViewBag.Movie</div>
            </div>
            <div class="table-responsive">
                <div>@ViewBag.Message</div>
            </div>
            <div class="table-responsive">
                <div>@ViewBag.TmnCode</div>
            </div>
            <div class="table-responsive">
                <div>@ViewBag.TxnRef</div>
            </div>
            <div class="table-responsive">
                <div>@ViewBag.VnPayTranNo</div>
            </div>
            <div class="table-responsive">
                <div>@ViewBag.Amount</div>
            </div>
            <div class="table-responsive">
                <div>@ViewBag.BankCode</div>
            </div>
        </div>
    </body>
    </html>*@

<title>Trạng Thái - A Movie</title>
<div class="wrapper-container ">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->
            <!-- Sidebar -->
            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12" id="load_data">
                    <h3 style="text-align: center; margin-bottom: 80px; margin-top: 100px; color: #f7c12f"><i style="color: #00c5cb" class="fa-solid fa-champagne-glasses"></i> @ViewBag.Message</h3>
                </div>
                <br />
                <a href="/Home" class="btn" style="max-width: 160px; margin: auto; text-align: center; background-color: #000; font-weight: 600; ">Trở về trang chủ</a>
            </div>
        </div>
    </div>
</div>