@model Movie_Theater.ViewModels.CrewViewModel

@{
    ViewBag.Title = ViewBag.Name + " - A Movie";
}

<div class="wrapper-container">
    <div class="row box-biography">
        <div class="img col m-b-3 l-3">
            <img src="@Model.AvatarPath" alt="Alternate Text" />
        </div>

        <div class="biography col m-b-9 l-9">
            <h1>@Model.Name</h1>

            <ul>
                <li>
                    <span><strong>Ngày sinh: </strong>@Html.DisplayFor(m => m.DateOfBirth)</span>
                </li>
                <li>
                    <span><strong>Nơi sinh: </strong>@Model.Birthplace</span>
                </li>
            </ul>

            <p>@Model.Biography</p>
            <div class="box-movie-info__item__more">
                <span class="more-info">
                    Xem thêm
                </span>
                <span class="hide-info">
                    Ẩn bớt
                </span>
            </div>
        </div>
    </div>

    <div class="box-filmography">
        <div class="heading-title">
            <h6>PHIM CÓ SỰ THAM GIA</h6>
        </div>
        <table>
            <thead>
                <tr class="row">
                    <th class="col m-b-3 l-3">Điểm số</th>
                    <th class="col m-b-7 l-7">Tên phim</th>
                    <th class="col m-b-2 l-2">Trạng thái</th>
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model.Movies != null)
                    {
                        foreach (var movie in Model.Movies)
                        {
                            <tr class="row">

                                <td class="col m-b-3 l-3">
                                    <img src="~/Content/Images/Icons/popcorn_icon.png" alt="Icon" />
                                    @{
                                        var movieScore = movie.Score;
                                        if (movie.ReleaseDate > DateTime.Now)
                                        {
                                            <span>--</span>
                                        }
                                        else if (movie.Score < 1)
                                        {
                                            <span>--</span>
                                        }
                                        else
                                        {
                                            <span>@movie.Score%</span>
                                        }
                                    }
                                </td>
                                <td class="col m-b-7 l-7"><a href="@Url.Action("Details", "Movies", new { name = movie.Url })">@movie.Title</a></td>
                                <td class="col m-b-2 l-2">
                                    @if (movie.ReleaseDate > DateTime.Now)
                                    {
                                        <span style="color: red">Sắp chiếu</span>
                                    }
                                    else
                                    {
                                        <span style="color: green">Đang chiếu</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>