@model Movie_Theater.Models.MovieTicket

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>

    <!-- Default box -->
    <div class="main-content">
        <h4 class="page-title">Chỉnh sửa thông tin vé phim</h4>
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/MovieTickets">Vé phim</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 stretch-card">
            <div class="row flex-grow">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("Edit", "MovieTickets"))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.TicketId)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MovieScheduleId, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.MovieScheduleId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MovieScheduleId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MovieId, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.MovieId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MovieId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TimeBooking, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.TimeBooking, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TimeBooking, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group text-align-end">
                                        <div class="col-md-offset-2 col-md-12 padding-left-right-unset">
                                            <input type="submit" value="Lưu Thay Đổi" class="btn btn-danger mb-1 mb-md-0 mr-2" />
                                            <a href="/Admin/MovieTickets" class="btn btn-secondary">Quay Lại</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</section>
