@model IEnumerable<Movie_Theater.Models.MovieTicket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; ;
}

<!-- Main content -->
<section class="page-content">

    <!-- Default box -->
    <div class="col-xl-10 main-content pl-xl-4 pr-xl-5">
        <h1 class="page-title">Tickets List</h1>
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tickets</a></li>
                <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
        </nav>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 col-xl-12 stretch-card">
            <div class="row flex-grow">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ticket ID</th>
                            <th>User ID</th>
                            <th>Quantity</th>
                            <th>Movie</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = 1;
                            foreach (var item in Model)
                            {
                                
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MovieId)
                                    </td>
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <span>Chưa thanh toán</span>
                                        }
                                        @if (item.Status == 1)
                                        {
                                            <span>Đã thanh toán</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.TicketId }, new { @class = "btn btn-warning", style = "margin: 5px 0 5px 0" })
                                        <button type="submit" class="btn btn-danger delete-btn" data-id="@item.TicketId" style="margin: 5px 0;">Delete</button>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</section>
<!-- /.content -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $('.delete-btn').click(function (e) {
            e.preventDefault();

            if (confirm("Are you sure you want to delete this crew?")) {
                var id = $(this).data('id');
                $.ajax({
                    url: '/Admin/MovieTickets/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        if (result.success) {
                            window.location.reload();
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('An error occurred while deleting the record.');
                    }
                });
            }
        });
    });
</script>