@model Movie_Theater.Models.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    <!-- Default box -->
    <div class="main-content">
        <h4 class="page-title">Thêm Tin Tức</h4>
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/News">Tin Tức</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm mới</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 stretch-card">
            <div class="row flex-grow">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = "15" })
                                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-12 padding-left-right-unset" })
                                        <div class="col-md-12 padding-left-right-unset">
                                            @Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-12 padding-left-right-unset" style=" display: flex; align-items: end; margin-bottom: 30px; margin-top: 20px;">
                                            <input type="file" name="fileUpload" id="fileUpload" accept="image/*"
                                                   style="display:none;" />
                                            <div style="flex: 1;text-align: center;">
                                                @if (Model != null && Model.Img != null)
                                                {
                                                    <img style="max-width: unset; width: 450px; height: 225px; object-fit: cover;" src="@Model.Img" alt="Alternate Text" id="pictureUpload" />
                                                }
                                                else
                                                {
                                                    <img style="max-width: unset; width: 450px; height: 225px; object-fit: cover;" src="~/Areas/Admin/Content/assets/images/slide_show_default.png" alt="Alternate Text" id="pictureUpload" />
                                                }
                                            </div>
                                            <input type="button" id="btnUpload" value="Chọn Ảnh" class="btn btn-success" />
                                        </div>
                                    </div>

                                    @section upload
{
                                        <script>
                                            $(function () {
                                                $('#btnUpload').click(function () {
                                                    $('#fileUpload').trigger('click');
                                                });
                                            });
                                            $('#fileUpload').change(function () {
                                                if (window.FormData !== undefined) {
                                                    var fileUpload = $('#fileUpload').get(0);
                                                    var files = fileUpload.files;
                                                    var formData = new FormData();
                                                    formData.append('file', files[0]);

                                                    $.ajax(
                                                        {
                                                            type: 'POST',
                                                            url: '/Admin/News/ProcessUpload',
                                                            contentType: false,
                                                            processData: false,
                                                            data: formData,
                                                            success: function (urlImage) {

                                                                $('#pictureUpload').attr('src', urlImage);
                                                                $('#Img').val(urlImage);
                                                            },
                                                            error: function (err) {
                                                                alert('Error ', err.statusText);
                                                            }
                                                        });
                                                }
                                            });
                                        </script>
                                    }

                                    <div class="form-group text-align-end">
                                        <div class="col-md-offset-2 col-md-12 padding-left-right-unset">
                                            <input type="submit" value="Thêm Tin Tức" class="btn btn-primary mb-1 mb-md-0 mr-2" />
                                            <a href="/Admin/News" class="btn btn-secondary">Quay Lại</a>
                                        </div>
                                    </div>

                                    @section Scripts {
                                        @Scripts.Render("~/bundles/jqueryval")
                                    }
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</section>
